@model IEnumerable<ChampionsLeagueTeamsApp.Models.Player>

@{
    ViewData["Title"] = "Players List";
}

<h2>Players List</h2>

<form method="get" asp-controller="Players" asp-action="Index" class="form-inline mb-3">
    <div class="input-group">
        <input type="text" name="searchQuery" class="form-control" placeholder="Search players..."
               value="@ViewData["SearchQuery"]" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Goals</th>
            <th>Team</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@Html.Encode(player.Name)</td>
                <td>@Html.Encode(player.Position)</td>
                <td>@Html.Encode(player.Goals)</td>
                <td>@Html.Encode(player.Team.Name)</td>
            </tr>
        }
    </tbody>
</table>


<div>
    <ul class="pagination">
        @if (ViewData["PageNumber"] is int currentPage && ViewData["TotalPages"] is int totalPages)
        {
            for (int i = 1; i <= totalPages; i++)
            {
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = i, pageSize = 5, searchQuery = ViewData["CurrentFilter"] })">@i</a>
                </li>
            }
        }
    </ul>
</div>